.card {
    background-color: black;
    padding: 22px;
    min-width: 350px;
    margin: 25px;
}
.card-header {
    display: flex;
    align-items: center;
    font-family: 'Orbitron';
    color: #00aaff;
}
.card-header .icon {
    margin-right: 22px;
}
.card-header h3 {
    margin: 0;
}

@media only screen and (max-width: 500px) {
    .card {
        width: 100%;
        margin: 10px;
    }
    .card > p {
        justify-content: space-around;
    }
}
.card > p {
    display: flex;
    justify-content: space-between;
}
.spacing-fix {
    margin-left: 10px;
}